@{
    ViewData["Title"] = "Feel Free To Contact Us.";
}

<section class="top-section-area section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex">
            <div class="generic-banner-content">
                <h1 class="text-white text-center mb-10">@ViewData["Title"]</h1>
                <h5 class="text-white text-center">Lorem ipsum Deserunt est dolore Ut Excepteur nulla occaecat magna occaecat <br> Excepteur nisi esse veniam dolor consectetur minim qui nisi esse deserunt commodo.</h5>
            </div>
        </div>
    </div>
</section>

<div class="section-top-border">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <h2 class="mb-30">Where to Find Us</h2>
                <address>
                    One Microsoft Way<br/>
                    Redmond, WA 98052-6399<br/>
                    <abbr title="Phone" class="lnr lnr-phone"></abbr>
                    425.555.0100
                </address>
            </div>
            <div class="col-md-4">
                <h2 class="mb-30">Write Us a Message</h2>
                <address>
                    <strong>Support: </strong> <a href="mailto:Support@example.com"> Support@example.com</a><br/>
                    <strong>Marketing: </strong> <a href="mailto:Marketing@example.com"> Marketing@example.com</a>
                </address>
            </div>
        </div>
    </div>
</div>



