@model IEnumerable<CommentViewModel>

<h3 class="text-center pb-30 font-weight-normal" style="color: #4cd3e3">Total comments loaded from the search form: <strong>@Model.Count()</strong> comments</h3>
@Html.DisplayForModel()
