@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="container">
    <div class="section-top-border">
        <h2 class="mb-30 text-danger">@ViewData["Title"]</h2>
        <div class="row pb-100">
            <div class="col-md-9">
                <header>
                    <p class="text-danger font-weight-normal">You do not have access to this resource.</p>
                </header>
            </div>
        </div>
    </div>
</div>
