@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <div class="section-top-border">
        <h2 class="mb-30">@ViewData["Title"]</h2>
        <div class="row pb-100">
            <div class="col-md-9">
                <h5>
                    Thank you for confirming your email.
                </h5>
            </div>
        </div>
    </div>
</div>

