@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <div class="section-top-border">
        <h2 class="mb-30">@ViewData["Title"]</h2>
        <div class="row pb-100">
            <div class="col-md-9">
                <h5>
                    Please check your email to reset your password.
                </h5>
            </div>
        </div>
    </div>
</div>

