@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
    <div class="section-top-border">
        <h2 class="mb-30">@ViewData["Title"]</h2>
        <div class="row pb-100">
            <div class="col-md-9">
                <h5>
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                </h5>
            </div>
        </div>
    </div>
</div>
