@model IEnumerable<ReplyViewModel>

<h3 class="text-center pb-30 font-weight-normal" style="color: #4cd3e3">Total replies loaded from the search form: <strong>@Model.Count()</strong> replies</h3>
@Html.DisplayForModel()
