@{
    ViewData["Title"] = "Blogger";
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/favicon.png">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="blog">
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="~/css/linearicons.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/main.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="~/css/linearicons.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/scss/theme/_home.scss"/>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<header class="default-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" class="navbar-brand">
                <img src="~/img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Home</a>
                    </li>                    
                    <li>
                        <a asp-page="/business/index">Business</a>
                    </li>
                    <li>
                        <a asp-page="/technology/index">Technology</a>
                    </li>                   
                    <li>
                        <a  asp-page="/lifestyle/index">LifeStyle</a>                       
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" asp-fragment="team" class="text-nowrap">Our Team</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Search" asp-route-id="">
                            <span class="lnr lnr-magnifier font-weight-bold"></span>
                        </a>
                    </li>
                    <partial name="_LoginPartial"/>
                </ul>
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial"/>
</header>

<partial name="_Message"/>
@RenderBody()

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget">
                    <h6>About Blogger</h6>
                    <ul class="footer-nav">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="About" asp-route-id="">About Us</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Contact" asp-route-id="">Contact Us</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-id="" >Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Newsletter</h6>
                    <p>You can trust us. We only send latest news, not a single spam.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li>
                            <img src="~/img/i1.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/img/i2.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/img/i3.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/img/i4.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/img/i5.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/img/i6.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/img/i7.jpg" alt="">
                        </li>
                        <li>
                            <img src="~/img/i8.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="col-lg-8 col-sm-12 footer-text">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> - <span>Blogger</span> - All rights reserved | <a href="https://colorlib.com" target="_blank" class="text-dark">Colorlib</a>
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<environment include="Development">
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/main.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"
            asp-fallback-src="~/js/vendor/jquery-2.2.4.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
            asp-fallback-src="~/js/vendor/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/main.js"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
